{%extends 'base/main.html'%}

{%block content%}
<div class="header-bar">
<h3>Register</h4>
</div>
<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <label>{{form.username.label}}</label>
        {{form.username}}
        <label>{{form.password1.label}}</label>
        {{form.password1}}
        <label>{{form.password2.label}}</label>
        {{form.password2}}
        <input class="button"type = "submit" value = "Register">
    </form>
    
    <p>Alerady have an acoount<a href="{%url 'login'%}">Login</a></p>
    {%endblock%}